.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  flex-direction: row;
  text-align: center;
  margin-bottom: 5px;
}

.badge-holding {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
  flex-wrap: wrap;
}

.container {
  padding-top: 58px;
}

.trailer-holding {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button-trailer a {
  color: white;
}

.modal-body iframe {
  width: 100%;
  min-height: 315px;
}

.nobackground {
  background-color: none;
}

.filter-section > * {
  margin-bottom: 20px;
}

.carousel-caption {
  /* background-color: #0000004f; */
  position: relative;
  top: 50%;
  height: 25%;
}

h3{
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;

}

h3 {
  font-size: 50px;
}

.carousel-caption p {
  font-size: 16px;
  background-color: #0000004f;
}

.navbar {
  background-color: #343a404f ;
}

/* .Crime {
  background-color: red;
  color: white
}

.Drama {
  background-color: purple;
  color: white;
}

.Thriller {
  background-color: black;
  color: white;
}

.Adventure {
  background-color: orange;
  color: white
}

.Fantasy {
  background-color:chartreuse;
  color: white
}

.Family {
  background-color: pink;
  color: white
}

.Action {
  background-color: red;
  color: white;
}

.Horror {
  background-color: saddlebrown;
  color: white;
}

.History {
  background-color: dimgray;
  color: white;
}

.Animation {
  background-color: dodgerblue;
  color: white;
}

.Fiction {
  background-color: blue;
  color: white
}

.Mystery {
  background-color: midnightblue;
  color: white;
}

.Comedy {
  background-color: yellow;
  color: black;
}

.Romance {
  background-color: orchid;
}

.Music {
  border:1px solid black;
} */